<!DOCTYPE html>
<html lang="en">

<head>
    {{head}}   

    <title>About</title>
</head>

<body>
    {{header}}
    
    <div class="container">
        <div class="row">
            <div class="col mt-3">
                <h5 class="session-title"> {{title}}</h5>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    {{body}}
                </p>
            </div>
        </div>
    </div>

    {{footer}}
</body>

{{scripts}}

</html>